body {
    background-color: darkseagreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


#board {
    display: flex;
    flex-direction: column;
}

#board-game {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(60px * 8 + 4px * 7);
    height: calc(60px * 8 + 4px * 7);
    gap: 4px;
    padding: 4px;
    background-color: black;
    border: 1px solid black;
    margin: 0 auto;
}


.board-cell {
    background-color: white;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-board {
    margin: 20px auto;
    border: 1px solid black;
    border-radius: 3px;
    width: 300px;
    padding: 15px 30px;
}

.badge {
    padding: 10px 10px;
    font-weight: bold;
    font-size: 20px;
}

.black-piece {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: black;
}

.white-piece {
    width: 49px;
    height: 49px;
    border-radius: 100%;
    border: 1px solid black;
}

button {
    font-size: 15px;
    width: 100px;
    margin: 10px 20px;
}